<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-xs-2 col-sd-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-8 col-sd-8 col-md-8 col-lg-8">
      <div class="row">
        <div class="col-xs-12 col-sd-12 col-md-12 col-lg-12">
          <%= form_for [:admin, @organization, @member] do |f| %>
            <% if @member.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>
                <ul>
                  <% @member.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-controller">
              <%= f.label :name %><br>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label :intro %><br>
              <%= f.text_area :intro, class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label :organization %><br>
              <%= f.text_field :organization_id, class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label :order %><br>
              <%= f.file_field :member_order %>
            </div>
            <div class="form-controller">
              <%= f.label :avatar %><br>
              <%= f.file_field :avatar %>
            </div>
            <hr>
            <div class="actions">
              <%= f.submit "Submit", :disable_with => 'Submitting...', :class => "btn btn-primary"%> 
              <%= link_to 'Back', admin_organization_path(@organization) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sd-2 col-md-2 col-lg-2"></div>
  </div>
</div>
