<script>
$(function() {
  $('.directUpload').find("input:file").each(function(i, elem) {
    var fileInput    = $(elem);
    var form         = $(fileInput.parents('form:first'));
    var submitButton = form.find('input[type="submit"]');

    // var progressBar  = $("<div class='bar'></div>");
    // var barContainer = $("<div class='progress'></div>").append(progressBar);
    // fileInput.after(barContainer);

    fileInput.fileupload({
      fileInput:       fileInput,
      url:             '<% unless @member.errors.any? %><%= @s3_direct_post.url %><% end %>',
      type:            'POST',
      autoUpload:       true,
      formData:         <% unless @member.errors.any? %><%= @s3_direct_post.fields.to_json.html_safe %><% end %>,
      paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
      dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
      replaceFileInput: false
      /*
      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        progressBar.css('width', progress + '%')
      },
      start: function (e) {
        submitButton.prop('disabled', true);

        progressBar.
          css('background', 'green').
          css('display', 'block').
          css('width', '0%').
          text("Loading...");
      },
      done: function(e, data) {
        submitButton.prop('disabled', false);
        progressBar.text("Uploading done");

        // extract key and generate URL from response
        var key   = $(data.jqXHR.responseXML).find("Key").text();
        var url   = '//<% unless @member.errors.any? %><%= @s3_direct_post.url.host %><% end %>/' + key;

        // create hidden field
        var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: url })
        form.append(input);
      },
      fail: function(e, data) {
        submitButton.prop('disabled', false);

        progressBar.
          css("background", "red").
          text("Failed");
      }
      */
    });
  });
});
</script>
<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-xs-2 col-sd-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-8 col-sd-8 col-md-8 col-lg-8">
      <div class="row">
        <div class="col-xs-12 col-sd-12 col-md-12 col-lg-12">
          <%= form_for [:admin, @organization, @member], html: { class: "directUpload" } do |f| %>
            <div class="form-controller">
              <%= f.label "姓名*" %><br>
              <%= f.text_field :name, placeholder: "1~10字",class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label "簡介*" %><br>
              <%= f.text_area :intro, placeholder: "至少20字", class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label "部門*" %><br>
              <%= f.collection_select(:organization_id, Organization.all, :id, :title) %>
            </div>
            <div class="form-controller">
              <%= f.label "順序" %><br>
              <%= f.text_field :member_order, class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label "大頭貼(100x100)" %><br>
              <%= f.file_field :avatar %>
            </div>
            <hr>
            <div class="actions">
              <%= f.submit "確認", :disable_with => '處理中...', :class => "btn btn-primary pull-right"%> 
              <%= link_to '返回', admin_organization_path(@organization), :class => "btn btn-warning" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sd-2 col-md-2 col-lg-2"></div>
  </div>
</div>
