<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-xs-2 col-sd-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-8 col-sd-8 col-md-8 col-lg-8">
      <div class="row">
        <div class="col-xs-12 col-sd-12 col-md-12 col-lg-12">
          <%= form_for [:admin, @event] do |f| %>
            <div class="form-controller">
              <%= f.label "標題*" %><br>
              <%= f.text_field :title, placeholder: "1~10字", class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label "副標*" %><br>
              <%= f.text_field :description, placeholder: "1~17字", class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.check_box :is_gsa %>
              <%= f.label "研協活動" %><br>
            </div>
            <div class="form-controller">
              <%= f.label "主辦單位*" %><br>
              <%= f.text_field :organization, placeholder: "1~11字", class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label "時間*" %><br>
              <%= f.datetime_select :event_date, class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label "地點*" %><br>
              <%= f.text_field :location, placeholder: "1~14字", class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label "內容*" %><br>
              <%= f.text_area :content, placeholder: "至少20字", class: "form-control", style: "height:200px;" %>
            </div>
            <div class="form-controller">
              <%= f.label "報名連結" %><br>
              <%= f.text_field :link, class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label "影音連結" %><br>
              https://www.youtube.com/watch?v=
              <%= f.text_field :video, placeholder: "XXxtYt8dpKI，若YouTube聯結為https://www.youtube.com/watch?v=XXxtYt8dpKI", :style => 'width:60%' %>
            </div>
            <div class="form-controller">
              <%= f.label "大圖*(1380x460)" %><br>
              <%= f.file_field :image_large %>
            </div>
            <div class="form-controller">
              <%= f.label "小圖*(250x160)" %><br>
              <%= f.file_field :image_small %>
            </div>
            <hr>
            <div class="actions">
              <%= f.submit "確認", :disable_with => '處理中...', :class => "btn btn-primary pull-right"%> 
              <%= link_to '返回', admin_events_path, :class => "btn btn-warning" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sd-2 col-md-2 col-lg-2"></div>
  </div>
</div>
