<h1 class="text-center">活動管理</h1>
<div class="col-md-12">
  <div class="group">
    <%= link_to("新增活動", new_admin_event_path , :class => "btn btn-primary pull-right" ) %>
  </div>
  <table class="table">
    <thead> 
      <tr>
        <th> # </th>
        <th> 標題 </th>
        <th> 副標 </th>
        <th> 主辦單位 </th>
        <th> 時間 </th>
        <th> 地點 </th>
        <th> 內容 </th>
        <th> 影音 </th>
        <th> 報名 </th>
        <th> 大圖 </th>
        <th> 小圖 </th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @event.order("event_date DESC").each do |e| %> 
        <tr>
          <td> # </td>  
          <td>  <%= truncate(e.title, :length => 8) %> </td>
          <td>  <%= truncate(e.description, :length => 8) %> </td>
          <td>  <%= truncate(e.organization, :length => 8) %> </td>
          <td>  <%= e.event_date.to_s(:short) %> </td>
          <td>  <%= truncate(e.location, :length => 8) %> </td>
          <td>  <%= truncate(e.content, :length => 8) %> </td>
          <td>  <%= link_to("連結", 'https://www.youtube.com/watch?v='+e.video.to_s, :target => "_blank") %> </td>
          <td>  <%= link_to("連結", e.link.to_s, :target => "_blank") %> </td>
          <td class="text-center">
            <% if e.image_large_file_name %>
              <%= image_tag e.image_large.url(:thumb) %>  
              <br/>
              <%= e.image_large_file_name %>
            <% end %>
          </td>
          <td class="text-center">
            <% if e.image_small_file_name%>
              <%= image_tag e.image_small.url(:thumb) %>  
              <br/>
              <%= e.image_small_file_name %>
            <% end %>
          </td>
          <td>
            <% if current_administrator %>  
              <%= link_to("編輯", 
                        edit_admin_event_path(e), 
                        :class => "btn btn-sm btn-default")%>

              <%= link_to("刪除", 
                        admin_event_path(e), 
                        :class => "btn btn-sm btn-default", 
                        :method=>:delete,
                        data: { confirm: "確定刪除?" } )%>
            <% end %>
          </td> 
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>
