<h1 class="text-center">論壇管理</h1>
<div class="col-md-12">
  <!-- <div class="group"> -->
    <%#= link_to("New board", new_admin_board_path , :class => "btn btn-primary pull-right" ) %>
  <!-- </div> -->
  <table class="table">
    <thead> 
      <tr>
        <th> # </th>
        <th> 標題 </th>
        <th> 副標 </th>
        <th> 文章數 </th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @boards.each do |b| %> 
        <tr>
          <td> # </td>  
          <td>  <%= link_to(truncate(b.name, :length => 13), admin_board_path(b)) %> </td>
          <td>  <%= truncate(b.description, :length => 53) %> </td>
          <td>  <%= b.posts_count %> </td>
          <td>
            <% if current_administrator %>  
              <%= link_to("編輯", 
                        edit_admin_board_path(b), 
                        :class => "btn btn-sm btn-default")%>

              <!--<%= link_to("刪除", 
                        admin_board_path(b), 
                        :class => "btn btn-sm btn-default", 
                        :method=>:delete,
                        data: { confirm: "確定刪除?" } )%>-->
            <% end %>
          </td> 
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>
