<table>
    <%= link_to("New organization", new_admin_organization_path , :class => "btn btn-primary pull-right" ) %>

    <thead> 
      <tr>
        <td> # </td>
        <td> Title </td>
        <td> Order </td>
      </tr>
    </thead>
    
    <tbody>
            <% @organization.each do |o| %> 
    <tr>
      <td> # </td>  
      <td>  <%= link_to(truncate(o.title, :length => 15), admin_organization_path(o)) %> </td>
      <td>  <%= o.content %> </td>
      <td>
         <% if current_administrator %>  
            <%= link_to("Edit", 
                        edit_admin_organization_path(o), 
                        :class => "btn btn-sm btn-default")%>

            <%= link_to("Delete", 
                        admin_organization_path(o), 
                        :class => "btn btn-sm btn-default", 
                        :method=>:delete,
                        data: { confirm: "Are you sure?" } )%>
        <% end %>
      </td> 
    </tr>
            <% end %> 
    </tbody>
  </table>