<script>
  $(window).scroll(function(){
    if ($(this).scrollTop() > 680) {
      $('#side_bar').css({"position":"fixed","top":"70px","left":"135px"});
    } else {
      $('#side_bar').css({"position":"fixed","top":String(Math.max(70,680-$(this).scrollTop()))+"px","left":"135px"});
    }
  });
</script>
<div class="top_pic", id="top">
  <div>
    <h1>關於研協</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" id="side_bar" role="complementary">
      <ul class="nav bs-docs-sidenav">
        <% @intro.each do |i| %>
          <li>
            <a href="#intro_num_<%= i.id %>"><%= i.title %></a>
          </li>
        <% end %>
        <% @organization.each do |o| %>
          <li>
            <a href="#organization_num_<%= o.id %>"><%= o.title %></a>
          </li>
        <% end %>
        <li>
          <a href="#statute">協會章程</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <% @intro.each do |i| %>
      <h1 style="text-align: center;" id="intro_num_<%= i.id %>" ><%= i.title %></h1>
      </br>
      <p>
        <%= simple_format(i.content) %>
      </p>
      <hr>
    <% end %>
    <% @organization.each do |o| %>
      <h1 style="text-align: center;" id="organization_num_<%= o.id %>"><%= o.title %></h1>
      </br>
      <p>
        <%= simple_format(o.content) %>
      </p>
      <hr>
      <% showMembers(o).each do |m|%>
        <div class="row">
          <div class="col-md-2">
            <p>
              <%= image_tag m.avatar.url(:thumb) %>
            </p>
            <h3 style="text-align: center;" id="member_num_<%= m.id %>"><%= m.name %></h3>
          </div>
          <div class="col-md-6">
            <p>
              <%= simple_format(m.intro) %>
            </p>
          </div>
        </div>
      <%end%>
      <hr>
    <% end %>
    <h1 style="text-align: center;" id="statute">協會章程</h1>
    <% @statute.each do |s| %>
      <div class="row">
        <div class="col-md-8">
          <%= simple_format(s.content) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-1"></div>
  <a href="#top">
    <div class="top_btn">
      <p>TOP</p>
    </div>
  </a>
</div>