<script>
  $(window).scroll(function(){
    if ($(this).scrollTop() > 680) {
      $('#side_bar').css({"position":"fixed","top":"70px","left":"135px"});
    } else {
      $('#side_bar').css({"position":"fixed","top":String(Math.max(70,680-$(this).scrollTop()))+"px","left":"135px"});
    }
  });
</script>
<div class="top_pic", id="top">
  <div>
    <h1>關於研協</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" id="side_bar" role="complementary">
      <ul class="nav bs-docs-sidenav">
        <% @intro.each do |i| %>
          <li>
            <a href="#intro_num_<%= i.id %>"><%= truncate(i.title, :length => 13) %></a>
          </li>
        <% end %>
        <% @organization.each do |o| %>
          <li>
            <a href="#organization_num_<%= o.id %>"><%= truncate(o.title, :length => 13) %></a>
          </li>
        <% end %>
        <li>
          <a href="#statute">協會章程</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <% @intro.each do |i| %>
      <div id="intro_num_<%= i.id %>">
        </br>
        </br>
        <p>
          <h1 style="text-align: center;"><%= i.title %></h1>
        </p>
        </br>
        <p>
          <%= simple_format(i.content) %>
        </p>
      </div>
      <hr>
    <% end %>
    <% @organization.each do |o| %>
      <div id="organization_num_<%= o.id %>">
        </br>
        </br>
        <h1 style="text-align: center;"><%= o.title %></h1>
        </br>
        <p>
          <%= simple_format(o.content, class: 'text_center') %>
        </p>
      </div>
      <hr>
      <% showMembers(o).order("member_order ASC").each do |m|%>
        <div class="row">
          <div class="col-md-2">
            <h3 style="text-align: center;" id="member_num_<%= m.id %>"><%= m.name %></h3>
            <% if m.avatar_file_name %>
              <p style="width: 100px; height:auto; margin:0 auto;">
                <%= image_tag m.avatar.url(:thumb) %>
              </p>
            <% end %>
          </div>
          <div class="col-md-9" style="background-color:#a4a4a4; color:#ffffff; border-radius:6px">
            <p>
              <%= simple_format(m.intro) %>
            </p>
          </div>
        </div>
        <br>
      <% end%>
      <hr>
    <% end %>
    <div id="statute">
      </br>
      </br>
      <h1 style="text-align: center;">協會章程</h1>
      <% @statute.each do |s| %>
        <div class="row">
          <%= simple_format(s.content) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-1"></div>
  <a href="#top">
    <div class="top_btn">
      <p>TOP</p>
    </div>
  </a>
</div>