<div class="top_pic", id="top">
  <div>
    <h1>活動公告</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-1"></div>
  <div class="col-md-12 no_margin">
    <h1 style="text-align: center;">活動公告</h1>
    <% @event.each do |e| %>
      <%= link_to showEvent_path(e) do %>
        <div class="page_item thumbnail">
          <%= image_tag e.image_small.url, alt: "join us" %>
            <h4 style="text-align:center;">[ <%= e.organization %> ]</h4>
            <h3 style="text-align:center;"><%= e.title %></h3>
            <p><%= truncate(e.content, :length => 20) %></p>
          <% end %>
        </div>
      <% end %>
    <a href="#top">
      <div class="top_btn">
        <p>TOP</p>
      </div>
    </a>
  </div>
  <div class="col-md-1"></div>
</div>
