<div class="top_pic" id="top" style="background-image:url('/images/top_pic_record.jpg');">
  <div>
    <h1>會議記錄</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="col-md-1"></div>
  <div class="col-md-12 no_margin">
    <h1 style="text-align: center;">會議記錄</h1>
    <% @record.each do |r| %>
      <%= link_to showRecord_path(r) do %>
        <div class="page_item thumbnail">
          <%= image_tag r.image_small.url, alt: "join us" %>
            <h4 style="text-align:center;">[ <%= truncate(r.organization.title, :length => 11) %> ]</h4>
            <h3 style="text-align:center;"><%= truncate(r.title, :length => 18) %></h3>
            <p class="text-center"><%= truncate(r.description, :length => 32) %></p>
          <% end %>
        </div>
      <% end %>
    <a href="#top">
      <div class="top_btn">
        <p>TOP</p>
      </div>
    </a>
  </div>
  <div class="col-md-1"></div>
</div>
