<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  
  window.fbAsyncInit = function(){  // this gets triggered when FB object gets initialized
    console.log("FB Object initiated");
    FB.XFBML.parse(); // now we can safely call parse method
  };
</script>
<div class="container-fluid">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 style="text-align: center;"><%= @record.title %></h1>
    <h3 style="text-align: center;"><%= @record.description %></h3>
    <br>
    <div style="margin-left:44%;">
      <div class="fb-like" data-href="http://www.ntugsa.com/site/<%= @record.id %>/event" data-width="100px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <br>
    <%= image_tag @record.image_large.url, style: "width: 100%" %>
    <hr>
    <div class="row">
      <div class="col-md-3" style="text-align:center;">
        <h5><%= @record.organization.title %></h5>
      </div>
      <div class="col-md-6" style="text-align:center;">
        <h5><%= @record.date.to_s(:long) %></h5>
      </div>
      <div class="col-md-3" style="text-align:center;">
        <h5><%= @record.location %></h5>
      </div>
    </div>
    <hr>
    <br>
    <br>
    <br>
    <h4><%= simple_format(@record.content) %></h4>
    <% if @record.file_file_name %>
      <%= link_to(@record.file.url, :target => "_blank") do %>
        <%= image_tag "/images/icon-pdf.png" %>
        <%= @record.file_file_name %>
      <% end %>
    <% end %>
    <br>
    <br>
    <br>
    <hr>
    <div class="row">
      <div class="col-md-4" style="background-image:url('<%= @record_prev.image_small.url %>')">
        <a href="/site/<%= @record_prev.id %>/record">
          <div class="prev_next_btn">
            <h4><%= truncate(@record_prev.title, :length => 13) %></h4>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <br>
        <br>
        <br>
      </div>
      <div class="col-md-4" style="background-image:url('<%= @record_next.image_small.url %>')">
        <a href="/site/<%= @record_next.id %>/record">
          <div class="prev_next_btn">
            <h4><%= truncate(@record_next.title, :length => 13) %></h4>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
