<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-sd-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-8 col-sd-8 col-md-8 col-lg-8">
      <div class="row">
        <div class="col-xs-12 col-sd-12 col-md-12 col-lg-12">
          <!-- 新增文章 -->
          <h1 style="text-align:center;">發表文章</h1>
          </br>
          <%= form_for @post, url: board_posts_path do | post | %>
<!--             <form role="form">
              <div class="form-group"> -->
            <div class="form-controller">
              <%= post.label "作者名稱：" %><br>
              <%= post.text_field :author, class: "form-control", placeholder: "請輸入作者名稱(2~9字)" %>	
            </div>
            <div class="form-controller">
              <%= post.label "文章分類：" %>
              <%= post.select(:type_name, options_for_select(
                  [["發問","發問"],["校園","校園"],["心情","心情"],["情報","情報"],
                   ["權益","權益"],["老闆","老闆"],["黑特","黑特"],["閒聊","閒聊"]], "閒聊"), style: "width:100px") %>
              <%#= post.text_field :type_name, class: "form-control", placeholder: "請輸入文章類別(2字)" %>	
            </div>
            <div class="form-controller">
              <%= post.label "文章標題：" %><br>
              <%= post.text_field :title, class: "form-control", placeholder: "請輸入文章標題(4~20字)" %>
            </div>
            <div class="form-controller">
              <%= post.label "內容：" %><br>
              <%= post.text_area :content, class: "form-control", placeholder: "請輸入內容(20字以上)", style: "height: 340px;" %>
            </div>
            <% if current_administrator %>
              <%= post.check_box :is_top? %>
              <label for="post_title">是否要將此篇文章置頂?</label>
            <% end %>
            <div class="actions">
              <%= post.submit "送出", class: "btn btn-default", style: "float:right;"%>
            </div>
          <% end %>
        </div>
      </div><!-- 三欄式主欄 -->
    </div>
    <div class="col-xs-2 col-sd-2 col-md-2 col-lg-2"></div>
  </div>
</div>