<div class="container-fluid">
	<div class="row">
		<div class="col-xs-2 col-sd-2 col-md-2 col-lg-2"></div>
		<div class="col-xs-8 col-sd-8 col-md-8 col-lg-8">
			<div class="row">
				<div class="col-xs-12 col-sd-12 col-md-12 col-lg-12">
					<!-- 顯示標題、作者、發文時間與內文 -->
					<h1 style="text-align:center;">
						[<%= @post.type_name %>] <%= @post.title %>
					</h1>
					<hr>
					<h4 style="text-align:right;">
					  <% if @post.is_top? %><span>置頂</span><% end %>
						作者：<%= @post.author %>；發文時間：<%= @post.created_at.in_time_zone("Taipei").to_s(:short) %>
					</h4>
					<hr>
					<p style="font-size:18px"><%= simple_format(@post.content) %></p>
					<hr>

					<!-- 顯示評論者、評論時間與內文 -->
					<% @comments.each do | comment | %>
						<tr>
							<td>
								<h5 style="text-align:left; float:left; width:70%;">
									<%= comment.commenter %>
								</h5>
							<!-- </td>
							<td> -->
								<h5 style="text-align:right; float:right;; width:30%;">
									<%= comment.created_at.in_time_zone("Taipei").to_s(:short) %>
								</h5>
							</td>
							<br>
							<td>
								<div style="background-color:#A4A4A4; color:#FFFFFF; margin-top:12px; font-size:18px; padding-left:5px; border-radius:3px">
									<p>
									<%= simple_format(comment.content) %>
								  </p>
								</div>
							</td>
						</tr>
						<br>
						<br>
					<% end %>

					<!-- 新增評論 -->
					</br>
					<%= form_for @comment, url: board_post_comments_path(@board, @post) do | comment | %>
						<!-- <form role="form"> -->
						  <!-- <div class="form-group"> -->
						  <div class="form-controller">
                <%= comment.label "評論者（可填匿名）" %><br>
								<!-- <label for="comment_commenter">評論者：</label> -->
								<%= comment.text_field :commenter, class: "form-control", placeholder: "請輸入評論者名稱(2~15字)" %>
							</div>
						  <!-- <div class="form-group"> -->
						  <div class="form-controller">
						  	<%= comment.label "內容（最多 50 字）" %>
						  	<!-- <label for="comment_content">內容：</label> -->
								<%= comment.text_area :content, class: "form-control", placeholder: "請輸入評論(50字以內)", style: "height: 68px;" %>
						  </div>
						  <!-- <button type="submit" class="btn btn-default" name="commit" style="float:right;">送出</button> -->
						  <br>
						  <div class="actions">
                <%= comment.submit "送出", class: "btn btn-default", style: "float:right;"%>
						  </div>
						<!-- </form> -->
					<% end %>
				</div>
			</div><!-- 三欄式主欄 -->
		</div>
		<div class="col-xs-2 col-sd-2 col-md-2 col-lg-2"></div>
	</div>
</div>






