<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-xs-2 col-sd-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-8 col-sd-8 col-md-8 col-lg-8">
      <div class="row">
        <div class="col-xs-12 col-sd-12 col-md-12 col-lg-12">
          <%= form_for [:admin, @rotator] do |f| %>
            <div class="form-group">
              <%= f.label "標題*" %><br>
              <%= f.text_field :title , class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label "順序" %><br>
              <%= f.text_field :image_order, class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label "連結*" %><br>
              <%= f.text_field :link, class: "form-control" %>
            </div>
            <div class="form-controller">
              <%= f.label "圖片*" %><br>
              <%= f.file_field :avatar %>
            </div>
            <hr>
            <div class="actions">
              <%= f.submit "確認", :disable_with => '處理中...', :class => "btn btn-primary pull-right"%> 
              <%= link_to '返回', admin_rotators_path, :class => "btn btn-warning" %>
            </div>
          <% end %>
        </div>
      </div><!-- 三欄式主欄 -->
    </div>
    <div class="col-xs-2 col-sd-2 col-md-2 col-lg-2"></div>
  </div>
</div>  