<table>
    <%= link_to("New rotator", new_admin_rotator_path , :class => "btn btn-primary pull-right" ) %>

    <thead> 
      <tr>
        <td> # </td>
        <td> Title </td>
        <td> Order </td>
        <td> Avatar </td>
      </tr>
    </thead>
    
    <tbody>
            <% @rotator.order("image_order ASC").each do |r| %> 
    <tr>
      <td> # </td>  
      <td>  <%= link_to(truncate(r.title, :length => 15), admin_rotator_path(r)) %> </td>
      <td>  <%= r.image_order %> </td>
      <td>  <%= image_tag r.avatar.url(:thumb) %>  </td>
      <td>
         <% if current_administrator %>  
            <%= link_to("Edit", 
                        edit_admin_rotator_path(r), 
                        :class => "btn btn-sm btn-default")%>

            <%= link_to("Delete", 
                        admin_rotator_path(r), 
                        :class => "btn btn-sm btn-default", 
                        :method=>:delete,
                        data: { confirm: "Are you sure?" } )%>
        <% end %>
      </td> 
    </tr>
            <% end %> 
    </tbody>
  </table>