<h1 class="text-center">首頁輪播圖</h1>
<div class="col-md-12">
  <div class="group">
    <%= link_to("新增輪播圖", new_admin_rotator_path , :class => "btn btn-primary pull-right" ) %>
  </div>
  <table class="table">
    <thead> 
      <tr>
        <th> # </th>
        <th> 標題 </th>
        <th> 順序 </th>
        <th> 圖片 </th>
        <th> 連結 </th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @rotator.order("image_order ASC").each do |r| %> 
        <tr id="<%= dom_id(r) %>" >
          <td> # </td>  
          <td>  <%= truncate(r.title, :length => 13) %> </td>
          <td>  <%= r.image_order %> </td>
          <td class="text-center">  
            <% if r.avatar_file_name %><%= image_tag r.avatar.url(:thumb) %>
              <br/>
              <%= r.avatar_file_name %>
            <% end %>
          </td>
          <td>  <%= link_to(truncate(r.link, :length => 43), r.link, target: "_blank") %> </td>
          <td>
            <% if current_administrator %>  
              <%= link_to("編輯", 
                        edit_admin_rotator_path(r), 
                        :class => "btn btn-sm btn-default")%>

              <%= link_to("刪除", 
                        admin_rotator_path(r), 
                        :class => "btn btn-sm btn-default", 
                        :method=>:delete,
                        data: { confirm: "確定刪除?" } )%>
            <% end %>
          </td> 
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>