<h1 class="text-center">記錄管理</h1>
<div class="col-md-12">
  <div class="group">
    <%= link_to("新增記錄", new_admin_record_path , :class => "btn btn-primary pull-right" ) %>    
  </div>
  <table class="table">
    <thead> 
      <tr>
        <th> # </th>
        <th> 標題 </th>
        <th> 副標 </th>
        <th> 部門 </th>
        <th> 時間 </th>
        <th> 地點 </th>
        <th> 內容 </th>
        <th> 大圖 </th>
        <th> 小圖 </th>
        <th> 檔案(PDF) </th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @record.order("date DESC").each do |r| %> 
        <tr>
          <td> # </td>  
          <td>  <%= truncate(r.title, :length => 8) %> </td>
          <td>  <%= truncate(r.description, :length => 8) %> </td>
          <td>  <%= truncate(r.organization.title, :length => 8) %> </td>
          <td>  <%= r.date.to_s(:short) %> </td>
          <td>  <%= truncate(r.location, :length => 8) %> </td>
          <td>  <%= truncate(r.content, :length => 8) %> </td>
          <td>  <%= image_tag r.image_large.url(:thumb) %>  </td>
          <td>  <%= image_tag r.image_small.url(:thumb) %>  </td>
          <td>  
            <% if r.file_file_name %>
              <%= link_to r.file.url do%>
                <%= image_tag "/images/icon-pdf.png" %>
              <% end %>
            <% end %>  
          </td>
          <td>
            <% if current_administrator %>  
              <%= link_to("編輯", 
                        edit_admin_record_path(r), 
                        :class => "btn btn-sm btn-default")%>

              <%= link_to("刪除", 
                        admin_record_path(r), 
                        :class => "btn btn-sm btn-default", 
                        :method=>:delete,
                        data: { confirm: "確定刪除?" } )%>
            <% end %>
          </td> 
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>
